:root {
    --first-color: purple;
    --second-color: rgb(161, 96, 199);
}

/* Header starts here */

header h2 a {
    font-size: 20px;
    text-decoration: none;
    color: #ff8193;
}

/* Header ends */

/* Start screen starts here */
.start h1 {
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.start p {
    font-size: 23px;
    text-align: center;
    width: 88%;
    margin: 0 auto;
}

.start button {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* Start screen ends here */

/* Questions start here*/
.questions {
    display: none;
}

.questions h3 {
    font-size: 40px;
}


/*Questions end here */

/*Score form starts*/
.score-form {
    display: none;
}
.score-form h1 {
    font-size: 40px;
}

/*Score form ends here*/

/*score view starts here*/
.score-view {
    display: none;
}

/* score view ends here */